 /* Loader Styling */
 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

 * {
    text-align: center;
    font-family: "Roboto", sans-serif;
    
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      text-align: center;
  }



.home-img img {
    /* max-width: 100%; */
    height: auto;
}


  .header {
    font-size: 36px;
    margin-bottom: 10px;
}

.sub-header {
    font-size: 36px;
    margin-bottom: 12px;
}
.estimate-value {
  font-size: 15px;
  color: #231F20;
}
.sub-header span{
  color: #854DFC;
}
.home-value {
    font-size: 36px;
    color:#777778;
    margin: 10px 0;
    font-weight: 800;
}

.note {
    font-size: 12px;
    color: #1A293DD4;
    margin-bottom: 30px;
    font-weight: 400;
}

.news-box {
    padding: 20px;
    background-color: #ffffff;
    /* border: 1px solid #d6c6ff; */
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 9px 46px 8px #00000014;

}


.news-box h2 {
  font-size: 28px;
  font-weight: 800;
  color: #854DFC;
  margin-bottom: 10px;
}

.news-box-p {
  font-size: 18px;
  color: #1A293DD4;
  line-height: 21.12px;
  font-weight: 600;
}
.news-box-p br {
  display: none;
}

  .buyer-info {
    font-size: 28px;
    line-height: 37.52px;
    font-weight: 700;
    color: #1B2B41;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .buyer-info span {
    color: #6b44db;
    font-weight: 700;
  }

  .cta-button {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .cta-button button {
    background-color: #6b44db;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    max-width: 300px;
  }

  .cta-button button:hover {
    background-color: #5a38c0;
  }

  /* Responsive Design */
  @media (max-width: 768px) {

    .cta-button button {
      width: 100%;
    }

    h2 {
      font-size: 18px;
    }

    .final_p {
      font-size: 13px;
    }

    .great-news {
      font-size: 16px;
    }

    .buyer-info {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {

    main{
      padding: 50px 0px 15px 0px;
    }


   .content{
    padding: 20px 0px 20px 0px;
   }

   .home-img img {
    width: 90px;
   }

   .header{
    font-size: 18px;
   }
   .sub-header{
    font-size: 18px;
   }


      h2 {
        font-size: 21px;
        font-weight: 300;
        line-height: 30px;
        
      }

      .final_p {
        font-size: 15px;
        line-height: 13.76px;
        font-weight: 400;
        color: #1A293D;
      }

      .home-amount{
        font-size: 32px;
        line-height: 24px;
        font-weight: 800;
        color: #777778;

      }
      .card{
        margin: 20px;
      }

      .card h2{
        color: #854DFC;
        font-size: 28px;
        line-height: 28px;
        font-family: "roboto";
        font-weight: 800;
      }

      .great-news {
        font-size: 32px;
        font-weight: 600;

      }

      .buyer-info {
        font-size: 19px;
        line-height: 32.52px;
      }

      .cta-button button {
        font-size: 12px;
        padding: 10px;
      }
  }